
<h1>Dear Customer,</h1>

<p>We’re happy to let you know that we’ve received your order.</p>
<p>Your tickets will arrive soon.<br>
    If you have any questions, contact us here <b>cinepax.codecool@freemail.hu.</b><br/>We are here to help!<br>Returns: <b>NO REFUND !</p></b>

<a href="https://cinepax-etickets.azurewebsites.net">Visit Us Again!</a>
<br><br>
<img src="https://presse.unique-relations.at/Content/492622/e2c311e6-5415-4d91-9aa9-56505a104cad/1200/2400/.jpg" style="height: 100px; width: 200px;"/>
<br>