<h1>Thanks for being awesome!</h1>

<p>We have received your registration and your account is successfully created.<br> From now on, you can log in.<br><br>Happy shopping!</p>

<a href="https://cinepax-etickets.azurewebsites.net">Visit Us Again!</a>
<br>
<img src="https://presse.unique-relations.at/Content/492622/e2c311e6-5415-4d91-9aa9-56505a104cad/1200/2400/.jpg" style="height: 100px; width: 200px;"/>