@*<div class="row">
    <div class="col-md-6 offset-3">
        <h1 class="text-info">You've reached the end of the internet</h1>
        <hr />
        <a class="btn btn-outline-success" asp-controller="Movies" asp-action="Index">Home Page</a>
    </div>

</div>*@
<link rel="stylesheet" href="~/css/notFoundView.css" asp-append-version="true" />
<section class="page_404">
    <div class="container">
        <div class="row">	
            <div class="col-sm-12 ">
                <div class="col-sm-10 col-sm-offset-1  text-center">
                    <div class="four_zero_four_bg">
                        <h1 class="text-center ">404</h1>
		
		
                    </div>
		
                    <div class="contant_box_404">
                        <h3 class="h2">
                            Look like you're lost
                        </h3>
		
                        <p>the page you are looking for is not available!</p>
		
                        <a href="https://cinepax-etickets.azurewebsites.net" class="link_404">Go to Home</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>